@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .text-stroke-black {
    -webkit-text-stroke: 0.125rem black;
  }

  .text-stroke-thin {
    -webkit-text-stroke: 1px black;
  }

  .scrollbar-none::-webkit-scrollbar {
    width: 10px;
    padding: 10px;
  }

  .scrollbar-none::-webkit-scrollbar-track {
    background-color: #cccccc;
  }
  .scrollbar-none::-webkit-scrollbar-thumb {
    background-color: #999999;
    padding: 10px;
  }

  .scrollbar-none::-webkit-scrollbar-thumb:hover {
    background-color: #888888;
  }

  .scrollbar-none::-webkit-scrollbar-track,
  .scrollbar-none::-webkit-scrollbar-thumb {
    border-radius: 5px;
  }
}
