@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .text-stroke-black {
    -webkit-text-stroke: 0.125rem black;
  }

  .text-stroke-thin {
    -webkit-text-stroke: 1px black;
  }

  .text-stroke-thin-white {
    -webkit-text-stroke: 1px white;
  }

  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }

  .scrollbar::-webkit-scrollbar {
    display: block;
    width: 10px;
    padding: 10px;
  }

  .scrollbar::-webkit-scrollbar-track {
    background-color: #cccccc;
  }
  .scrollbar::-webkit-scrollbar-thumb {
    background-color: #999999;
    padding: 10px;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #888888;
  }

  .scrollbar::-webkit-scrollbar-track,
  .scrollbar::-webkit-scrollbar-thumb {
    border-radius: 5px;
  }
}
